@use "../../styles/variables" as *;
@use "../../styles/_mixins.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  height: 5.2rem;
  background-color: $section-bg-dark;

  @include respond($tablet) {
    height: 5.8rem;
  }

  @include respond($desktop) {
    height: 6.4rem;
  }
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktopNav {
  display: none;

  @include respond($desktop) {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  @include respond($large-desktop) {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
  .navLink {
    transition: color 250ms;
    @include respond($desktop) {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: calc(1.7rem / 1.2rem);
      color: $text-primery;
      text-transform: uppercase;
      letter-spacing: 0;
    }

    &:hover,
    &:active {
      color: $hover-menu;
    }

    @include respond($large-desktop) {
      font-size: 1.4rem;
    }
  }
}

.btnHeaderGroupe {
  display: none;
  @include respond($desktop) {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}

/* Burger */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 101;

  @include respond($desktop) {
    display: none;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: $white;
    border-radius: 10px;
    transition: all 0.3s linear;
  }

  &.open {
    .line:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

/* Mobile menu */

.mobileMenu {
  padding: 8.4rem 1.6rem 1.6rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: $purple;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 6rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;

  &.active {
    transform: translateX(0);
  }

  @include respond($tablet) {
    width: 70%;
  }

  @include respond($desktop) {
    display: none;
  }

  a {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: calc(3rem / 2.4rem);
    text-transform: uppercase;
    color: $text-primery;
    transition: color 250ms;
    &:hover,
    &:active {
      color: $hover-menu;
    }
  }

  .btnsMobileMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: auto;

    .mobileRegisterButton,
    .mobileEnterButton {
      padding: 1.6rem 2.57rem;
      font-size: 1.6rem;
      border: 2px;
    }
  }
}
