@use "./_variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: $main-font;
  color: $text-secondary;
  background-color: $white;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
