@use "./_variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  font-family: $main-font;
  color: $text-secondary;
  background-color: $white;
  font-weight: 400;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* Common */

.section-title {
  color: $text-secondary;
  font-size: 2.8rem;
  text-transform: uppercase;
  line-height: calc(3.6rem / 2.8rem);
  letter-spacing: -0.04em;
  font-weight: 700;

  @include respond($large-desktop) {
    font-size: 4.4rem;
    line-height: calc(5.6rem / 4.4rem);
    letter-spacing: -0.04em;
  }
}

.my-swiper {
  .swiper-slide {
    width: 299px !important;
  }
}

.my-swiper.swiper {
  overflow: visible;
}

.slide {
  width: 299px;

  @include respond($large-desktop) {
    width: 299px;
  }
}

// Animation Float
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-10px) translateX(6px);
  }
}
@keyframes do-more {
  0%,
  100% {
    transform: scaleZ(1.2);
  }

  50% {
    transform: scaleZ(1);
  }
}
