@use "./_variables.scss" as *;
@use "./mixins.scss" as *;

.container {
  width: 100%;
  max-width: $container-mobile;
  margin: 0 auto;
  padding: 0 16px;
  background-color: teal;

  @include respond($tablet) {
    max-width: $container-tablet;
    padding: 0 20px;
  }

  @include respond($desktop) {
    max-width: $container-desktop;
  }

  @include respond($large-desktop) {
    max-width: $container-large;
  }
}
