// Breakpoints
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

// Fonts

$main-font: "IBM Plex Sans", sans-serif;

// Colors

$white: #ffffff;
$purple: #6a54ff;
$accent: #57e1ff;
$dark-1: #030718;
$black: #000000;
$green-ligth: #35ff9e;

$text-primery: $white;
$text-gray: #e7f7f8;
$text-secondary: #030718;
$text-status: $green-ligth;
$btn-accent: $accent;
$btn-outline-accent: rgba(87, 225, 255, 0.2);

$section-bg-dark: $dark-1;

$hover-btn: $purple;

// Shadow

$btn-drop-shadow: 0 0 4px $accent;

// CLIP-PATH

$clip-path-section-mobile: polygon(
  100% 0,
  100% 100%,
  60% 100%,
  56% 93%,
  0 93%,
  0 0
);

$clip-path-section-desktop: polygon(
  100% 0,
  100% 100%,
  44% 103%,
  40% 93%,
  0 93%,
  0 0
);

// Container sizes

$container-mobile: 100%;
$container-tablet: 760px;
$container-desktop: 1000px;
$container-large: 1320px;
