@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.wrappercards {
  position: relative;
  width: 30rem;
  height: 13.4rem;
  display: flex;
  margin-bottom: 3.3rem;
  animation: fade-up 1200ms ease forwards;
  opacity: 0;
  transform: translateY(20px);

  @keyframes fade-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @include respond($desktop) {
    width: 38.4rem;
    height: 17.15rem;
    margin-bottom: 4.22rem;
  }

  @include respond($large-desktop) {
    width: 46.9rem;
    height: 20.95rem;
    margin-bottom: 5.16rem;
  }
}

.card {
  width: 17.6rem;
  height: 10.4rem;
  padding: 0.6rem 1rem;
  animation: float 4000ms ease-in-out infinite;

  @include respond($desktop) {
    width: 22.5rem;
    height: 13.3rem;
    padding: 0.77rem 1.28rem;
  }

  @include respond($large-desktop) {
    width: 27.5rem;
    height: 16.25rem;
    padding: 0.94rem 1.56rem;
  }
  // Animation Float
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px) translateX(0px);
    }
    50% {
      transform: translateY(-10px) translateX(6px);
    }
  }
}

.twice,
.procent {
  font-size: 2rem;
  font-weight: 500;
  line-height: calc(2.8rem / 2rem);

  @include respond($desktop) {
    font-size: 2.56rem;
    line-height: calc(3.58rem / 2.56rem);
  }

  @include respond($large-desktop) {
    font-size: 3.13rem;
    line-height: calc(4.38rem / 3.13rem);
  }
}

.subTwise {
  font-size: 1.3rem;
  line-height: calc(1.6rem / 1.3rem);
  margin-bottom: 2rem;

  @include respond($desktop) {
    font-size: 1.66rem;
    line-height: calc(2.1rem / 1.66rem);
    margin-bottom: 2.56rem;
  }

  @include respond($large-desktop) {
    font-size: 2.03rem;
    line-height: calc(2.5rem / 2.03rem);
    margin-bottom: 3.13rem;
  }
}

.card.dashed {
  color: $purple;
  border-radius: 4px;
  border: 1px dashed $purple;
  opacity: 0.7;
  position: relative;
}

.card.dashed::after {
  content: "";
  position: absolute;
  display: block;
  top: 4.5px;
  right: -26px;
  width: 2.1rem;
  height: 2.1rem;

  background-image: linear-gradient(
    45deg,
    transparent 49%,
    $purple 49%,
    $purple 51%,
    transparent 51%
  );
  background-size: 100% 100%;

  @include respond($desktop) {
    top: 5.76px;
    right: -33.3px;
    width: 2.68rem;
    height: 2.68rem;
  }

  @include respond($large-desktop) {
    top: 7px;
    right: -40.6px;
    width: 3.28rem;
    height: 3.28rem;
  }
}

.card.primary {
  position: absolute;
  top: 3rem;
  right: 0;
  color: $white;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: $purple;

  @include respond($desktop) {
    top: 3.84rem;
  }

  @include respond($large-desktop) {
    top: 4.7rem;
  }
}

.card.primary::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 4.5px;
  left: -26px;
  width: 2.1rem;
  height: 2.1rem;

  background-image: linear-gradient(
    45deg,
    transparent 49%,
    $purple 49%,
    $purple 51%,
    transparent 51%
  );
  background-size: 100% 100%;

  @include respond($desktop) {
    bottom: 5.76px;
    left: -33.3px;
    width: 2.68rem;
    height: 2.68rem;
  }

  @include respond($large-desktop) {
    bottom: 7px;
    left: -40.6px;
    width: 3.28rem;
    height: 3.28rem;
  }
}

.card.primary .subTwise {
  opacity: 0.6;
}

// .dashed {
//   animation-duration: 5.5s;
//   opacity: 0.4;
//   border: 1.5px dashed rgba(255, 255, 255, 0.3);
//   backdrop-filter: blur(6px);
//   transform: scale(0.95);
// }
