@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sectionNumbers {
  padding: 4.8rem 0;

  @include respond($large-desktop) {
    padding: 5.6rem 0 6.1rem;
  }

  .containerNumbers {
    @include respond($large-desktop) {
      display: flex;
      align-items: flex-start;
      gap: 15.6rem;
    }
  }
  .numbersLeft {
    margin-bottom: 4rem;
    .title {
      margin-bottom: 0.4rem;
    }
    .labelDate {
      font-size: 1.4rem;
      line-height: calc(2rem / 1.4rem);
      letter-spacing: -0.04em;
      opacity: 0.5;
    }
  }

  .numbersRigth {
    .listNumbers {
      display: flex;
      flex-wrap: wrap;
      gap: 6.5rem;
      row-gap: 3.2rem;

      @include respond($desktop) {
        display: flex;
        flex-wrap: nowrap;

        gap: 0;
      }
    }

    .itemNumbers {
      width: calc((100% - 6.5rem) / 2);

      @include respond($large-desktop) {
        width: 30.7rem;
      }
    }

    .itemNumbers:nth-child(2) {
      @include respond($large-desktop) {
        width: 30.7rem;
      }
    }

    .titleItem {
      font-size: 1.4rem;
      line-height: calc(2rem / 1.4rem);
      opacity: 0.8;
      text-transform: uppercase;
      margin-bottom: 4px;
      @include respond($tablet) {
        font-size: 1.6rem;
      }
    }

    .number {
      color: $purple;
      font-size: 3.5rem;
      line-height: 110%;
      letter-spacing: -0.02em;
      @include respond($tablet) {
        font-size: 4.5rem;
        font-weight: 500;
      }
      @include respond($large-desktop) {
        font-size: 6rem;
        font-weight: 500;
      }
    }
  }
}
