@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.base {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: calc(3.6rem / 2.8rem);
  letter-spacing: -4%;
  color: $text-primery;

  @include respond($tablet) {
  }
  @include respond($desktop) {
    font-size: 4.4rem;
    line-height: calc(5.6rem / 4.4rem);
  }
}
