// src/sections/PassedDeals/PassedDeals.module.scss
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.passedDeals {
  background-color: $section-bg-dark;
  padding: 4.8rem 0 7.7rem;
  position: relative;
  overflow: hidden;
  clip-path: $clip-path-section-mobile;
  @include respond($large-desktop) {
    padding: 9.6rem 0 17.8rem;
  }
}

.header {
  .title {
    color: $text-primery;
    margin-bottom: 0.2rem;
  }
}

.status {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: calc(2rem / 1.4rem);
  color: $text-status;
  opacity: 0.9;
  margin-bottom: 2.4rem;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $text-status;
    margin-right: 0.5rem;
  }
}

.scrollBar {
  margin-top: 1.6rem;
  width: 100%;
  height: 0.6rem;
  background: #434f70;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  opacity: 0.4;
  z-index: 100;
}

.scrollThumb {
  height: 100%;
  width: var(--scroll-thumb-width, 0%);
  background: white;
  border-radius: 2px;
  transition: width 0.2s linear;
  z-index: 150;
}
