@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form {
  width: 100%;
  position: relative;
  height: 5rem;
  margin-bottom: 1.2rem;

  .input {
    width: 100%;
    height: 100%;
    background-color: #201a4f;
    border-radius: 4px;

    padding-right: 12rem;
  }

  .btnSubmit {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  // --- STACKED (Кнопка снизу) ---
  &.stacked {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .input {
      height: 5rem;
      padding-right: 1.5rem;
    }
    .btnSubmit {
      position: static;
      transform: none;
      width: 100%;
      height: 5rem;
    }
  }
}
