@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.list {
  list-style: none;

  li {
    &.active {
      background-color: $purple;
    }
  }

  h3 {
    &.active {
      color: $white;
    }
  }

  span.active svg {
    color: $white;
  }

  p {
    &.active {
      color: $white;
    }
  }
}
